@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

@if (Model.Customer.Count == 0)
{
    <p>No Customer</p>
}
else
{
<ul>
    @foreach (var customer in Model.Customer)
    {
    <li>
        @customer.Name;
    </li>
    }
</ul>
}
@*
    //Comment syntax
*@

